.grid-container-main {
    display: grid;
    grid-template-columns: 100% 1fr;
    grid-template-rows: 12vh 100vh 100vh auto 45vh;
    grid-template-areas:
    "nav nav"
    "main main"
    "article article"
    "aside aside"
    "footer footer"
    ;
}
.grid-container-gallery {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 12vh auto 45vh;
    grid-template-areas:
    "nav nav"
    "aside aside"
    "footer footer"
    ;
}
nav {
    grid-area: nav;
}
main {
    grid-area: main;
}
article {
    grid-area: article;
}
aside {
    grid-area: aside;
}
footer {
    grid-area: footer;
}