*{
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  outline: 0 !important;
  font-family: 'Roboto', sans-serif;
}
/* Scrollbar */
::-webkit-scrollbar{
  width: 10px;
  background-color: #f1f1f1;
}
::-webkit-scrollbar-track {
  background-color: white;
}
::-webkit-scrollbar-thumb {
  background-color: #353b48;
}
/* Scrollbar */
/* Menu */
li {
  list-style-type: none;
}
nav{
  display: flex;
  justify-content: space-between;
  height: 12vh;
  padding: 0 20px;
  color: rgb(96, 99, 96);
}
.logo{
  line-height: 12vh;
  text-transform: uppercase;
}
.menu{
  line-height: 12vh;
}
.menu a{
  font-size: x-large;
  color: rgb(96, 99, 96);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  padding: 0 10px;
  transition: 0.6s;
}
.menu a:hover{
  padding-bottom: 10px;
}
.show-menu-btn,.hide-menu-btn{
  transition: 0.4s;
  font-size: 30px;
  cursor: pointer;
  display: none;
}
.show-menu-btn i{
  line-height: 12vh;
}
.menu a:hover,
.show-menu-btn:hover,
.hide-menu-btn:hover{
  color: rgb(22, 22, 22);
  border-bottom: 1px solid  rgb(201, 7, 7);
}
#chk{
  position: absolute;
  visibility: hidden;
  z-index: -1111;
}
@media screen and (max-width:800px) {
  .show-menu-btn,.hide-menu-btn{
    display: block;
  }
  .menu{
    position: fixed;
    width: 60%;
    height: 100vh;
    background: #333;
    right: -100%;
    top: 0;
    text-align: center;
    padding: 80px 0;
    line-height: normal;
    transition: 0.7s;
    z-index: 999;
  }
  .menu a{
    color: rgb(117, 117, 117);
    display: block;
    padding: 20px;
  }
  .menu a:hover{
    color: white;
    border-bottom: none;
  }
  .hide-menu-btn{
    position: absolute;
    top: 40px;
    right: 40px;
    color: rgb(117, 117, 117);
  }
  .hide-menu-btn:hover{
    color: white;
    border: none;
  }
  .show-menu-btn:hover{
    border: none;
  }
  #chk:checked ~ .menu{
    right: 0;
    }
  }
  /* Menu */
  /* Main */
  .baner {
    height: 88vh;
    background-image: url(../img/wallpaper.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
  }
  .baner-left h1, .baner-right h1{
    font-size: calc(2vw + 6vh);
    font-weight: bold;
    color: white;
    -webkit-text-stroke: 3px rgb(0, 0, 0)
  }
  .baner-left p, .baner-right p{
    color: white;
    font-size: calc(1vw + 3.5vh);
    font-weight: bold;
    -webkit-text-stroke: 2px rgb(0, 0, 0)
  }
  .baner-left a, .baner-right a{
    color: white;
    text-decoration: none;
    background: rgb(96, 99, 96);
    padding: 3%;
    transition: .6s;
    line-height: initial;
  }
  .baner-left a:hover, .baner-right a:hover {
    background-color: rgb(22, 22, 22);
  }
  .baner-left {
    line-height: 6vh;
    display: flex;
    height: 100%;
    width: 50%;
    text-align: center;
    transition: .6s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .baner-left:hover {
    background: rgba(22, 22, 22, 0.5);
  }
  .baner-right {
    line-height: 6vh;
    display: flex;
    height: 100%;
    width: 50%;
    text-align: center;
    transition: .6s;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .baner-right:hover {
    background: rgba(22, 22, 22, 0.5);
  }
  /* Main */
  /* Article */
article {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.blogs{
  display: flex;
  justify-content: center;
}
.blog{
  margin: 1.5% 1.5% 1.5%;
  overflow: hidden;
  position: relative;
  height: 40vh;
  width: auto;
  cursor: pointer;
}
.blog img{
  width: auto;
  height: 100%;
}
.blog-description{
  position: absolute;
  bottom: -40px;
  background: #333333ca;
  width: 100%;
  padding: 40px;
  transition: .3s linear;
}
.blog h2 {
  font-size: 25px;
}
.blog:hover .blog-description{
  bottom: 0;
}
.categorie{
  display: inline-block;
  color: rgb(201, 7, 7);
  font-size: 18px;
  position: relative;
  padding: 0 22px;
}
.categorie::before{
  content: '';
  position: absolute;
  width: 14px;
  height: 2px;
  background: rgb(201, 7, 7);
  left: 0;
  top: 13px;
}
.categorie::after{
  content: '';
  position: absolute;
  width: 14px;
  height: 2px;
  background: rgb(201, 7, 7);
  right: 0;
  top: 13px;
}
.title{
  color: #fff;
  font-weight: 500;
  margin: 5px 0;
}
.date{
  font-style: italic;
  color: rgb(201, 7, 7);
  margin-bottom: 20px;
}
.btn{
  display: inline-block;
  color: rgb(201, 7, 7);
  text-decoration: none;
  border: 1px solid rgb(201, 7, 7);
  padding: 6px 20px;
  opacity: 0;
  transition: .3s linear;
}
.blog:hover .btn{
  opacity: 1;
}
.btn:hover{
  color: #fff;
  background: rgb(201, 7, 7);
}
  /* Article */
.border {
  width: 40%;
  height: 10px;
  background: rgb(201, 7, 7);
  margin: 40px auto;
}
  /* Opinie */
.slideshow-container {
  position: relative;
  height: 35vh;
  background: rgba(0, 0, 0, 0.171);
}
.mySlides {
  height: 35vh;
  background: url(../img/wallpaper.jpg);
  background-size: cover;
  background-attachment: fixed;
  padding: 12.2vh;
  text-align: center;
}
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  background: white;
  transition: .6s;
}
.prev i, .next i{
  transition: 0.6s;
}
.prev:hover > i, .next:hover > i{
  color: white;
}
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgb(0, 0, 0);
  color: white;
}
.active, .dot:hover {
  background-color: #717171;
}
q {
  color: white;
  font-size: 30px;
  font-weight: bold;
  -webkit-text-stroke: 2px rgb(0, 0, 0)
}

.author {
  color: white;
  font-weight: bold;
  -webkit-text-stroke: 2px rgb(0, 0, 0)
}
  /* Opinie */
  /* Galeria */
  .gallery{
    min-height: 100%;
    background-size: cover;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    /* background: radial-gradient(circle, rgb(240, 218, 227) 0%, rgb(165, 186, 211) 100%); */
  }
  .gallery img {
    margin: 5% 1% 5%;
    cursor: pointer;
    width: 95%;
    transition: 0.6s ease-in-out;
    filter: grayscale(100%);
  }
  .gallery img:hover {
    transform: scale(1.05);
    filter: grayscale(0%);
  }
  /* Galeria */
  /* Stopka */
  .bottom-footer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: black;
    color: white;
    font-size: small;
  }
  /* Stopka */
  /* Media */
  @media screen and (max-width:450px) {
    q {
      font-size: 25px;
    }
    .author {
      font-size: 30px;
    }
  }
  @media screen and (max-width:430px) {
    .mySlides {
      padding: 9vh;
    }
  }
  @media screen and (max-width:320px) {
    .mySlides {
      padding: 6vh;
    }
  }
  /* Media */